.is-center-aligned {
    align-items: center;
}

.is-center-justified {
    justify-content: center;
}

.is-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-auto-margin {
    margin: auto;
}